@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  @apply font-montserrat;
  @apply text-waide-gray;
}

section {
  @apply p-2;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-montserrat font-bold tracking-normal z-10;
}

li {
  @apply list-disc list-inside;
}

.spacer {
  @apply h-5 md:h-10;
}

.button {
  @apply w-full p-4 border-4 border-waide-gray font-bold text-waide-cream bg-waide-gray rounded-lg shadow-xl hover:opacity-90 hover:scale-95 transition duration-200;
}

.button-2 {
  @apply w-full p-4 border-4 border-waide-cream font-bold rounded-lg shadow-xl hover:opacity-90 hover:scale-95 transition duration-200;
}

.button-3 {
  @apply mx-auto text-center font-bold hover:opacity-90 hover:scale-95 transition duration-200;
}

.heading {
  @apply text-3xl md:text-5xl font-bold text-center;
}

.subheading {
  @apply text-2xl font-bold border-b;
}

.subheading-no-border {
  @apply text-xl font-bold;
}

.card {
  @apply bg-black/60 rounded-xl shadow-md p-4 border border-gray-50/20;
}

.card-light {
  @apply bg-white rounded-xl shadow-md p-4 py-8 border border-waide-gray/20 my-28 mx-2;
}

/* .hero {
  background-image: url(./img/hero.webp) !important;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
} */

.commit-item-container {
  @apply card text-center p-4 rounded-xl shadow-md flex flex-col pt-4 space-y-2 h-[240px] border border-gray-50/20 mx-auto;
}

.icon-heading-container {
  @apply min-h-[100px] space-y-2 mx-auto flex flex-col items-center;
}

.display-img {
  @apply rounded-2xl shadow-xl;
}

.services-item-container {
  @apply p-4 flex flex-col flex-1 rounded-xl shadow-md bg-white border-black/10 border mx-auto text-center w-44 h-44 hover:scale-105 transform transition-all duration-300;
}

.flex-2 {
  flex: 2;
}

#loading-screen {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: white;
  z-index: 9999;
}

.thick-underline {
  box-shadow: inset 0 -3px 0 0 currentColor;
}
